<section id="register" class="container">
  <h1 class="register-title">
    Account Register
  </h1>
  <div class="register-form">
    <form method="POST" action="/register" enctype="multipart/form-data">
      <div id="form-1">
        <div class="mb-3">
          <label for="fullName" class="form-label">Full Name</label>
          <input
            name="fullName"
            type="text"
            class="form-control"
            id="fullName"
            value="{{fullName}}"
          />
          <span class="form-text text-danger fullName-error"></span>

        </div>

        <div class="mb-3">
          <label for="dateOfBirth" class="form-label">Date of Birth</label>
          <input
            type="date"
            class="form-control"
            name="dateOfBirth"
            id="dateOfBirth"
            value="{{dateOfBirth}}"
          />
          <span class="form-text text-danger dateOfBirth-error"></span>

        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="email" />
          <span class="form-text text-danger email-error">
            {{#if error.errorE}}
              {{error.messageE}}
            {{/if}}
          </span>
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <input
            type="text"
            name="address"
            value="{{address}}"
            class="form-control"
            id="address"
          />
          <span class="form-text text-danger address-error"></span>
        </div>
        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Phone Number</label>
          <input
            type="number"
            name="phoneNumber"
            class="form-control"
            id="phoneNumber"
          />
          <span class="form-text text-danger phoneNumber-error">
            {{#if error.errorPN}}
              {{error.messagePN}}
            {{/if}}
          </span>
        </div>

        <button
          id="register-next-btn"
          type="button"
          class="btn btn-success"
        >Next</button>
      </div>
      <div id="form-2">
        <div class="mb-3">
          <label for="font" class="form-label">Font ID Image</label>
          <input
            type="file"
            name="fontIdImage"
            class="form-control"
            id="email"
          />
          <span class="form-text text-danger fontIdImage-error"></span>
        </div>
        <div class="mb-3">
          <label for="back" class="form-label">Back ID Image</label>
          <input
            type="file"
            name="backIdImage"
            class="form-control"
            id="back"
          />
          <span class="form-text text-danger backIdImage-error"></span>
        </div>
        <button type="button" class="btn btn-success submit-btn">Submit</button>

        <button
          type="button"
          id="register-back-btn"
          class="btn btn-success"
        >Back</button>

      </div>
    </form>
  </div>

</section>